<div id="login">
    <div class="login">
        <div class="login-left">
            <div class="login-left-content">
                <div class="login-left-content-header">
                    <span>Sistema de tiquetes</span>
                </div>

                <div class="login-left-content-form">
                    <!-- <span>Sistema de tiquetes</span> -->
                </div>
            </div>
        </div>
        <div class="login-right">
            derecha
        </div>
    </div>
</div>