:root {
  // COLORS
  --primary-color: #124559;
  --secondary-color: #01161e;
  --tertiary-color: #598392;
  --quartiary-color: #aec3b0;
  --quinary-color: #eff6e0;

  // FUENTES
  --font-lg: 1.3rem;
  --font-md: 1rem;
  --font-sm: 0.875rem;
  --font-xs: 0.75rem;
}
